.menu {
  padding: 1.4rem 1.4rem 0 1.4rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    position: relative;
    height: 52px;
  }

  &__logo-img {
    height: 100%
  }

  &__list {
    display: inline-flex;
    margin: 0;
    padding: 0 1.2rem;
    list-style: none;

    @include screen-down(md) {
      display: block; // тут будет бургер!
    }
  }

  &__item {
    margin-left: 1rem;
    box-sizing: content-box;
  }

  &__link {
    @extend %transition;
    border-bottom: 1px solid transparent;

    &:hover {
      border-color: $color-primary-dark;
    }
  }
}
