.spec {
  &__text {
    padding: 1.2rem 0;
  }

  &__item {
    padding-top: 0.8rem;

    &::first-letter {
      text-transform: capitalize;
    }
  }

  &__info {
    padding-bottom: 1.2rem;

    & .text {
      text-align: center;
      font-weight: 600;
    }
  }
}
