@font-face {
  font-family: 'Alegreya';
  src: url('public/fonts/Alegreya-Regular.woff2') format('woff2'),
  url('public/fonts/Alegreya-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Alegreya';
  src: url('public/fonts/Alegreya-Bold.woff2') format('woff2'),
  url('public/fonts/Alegreya-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}