.promo {
  position: relative;
  width: 100%;
  border-radius: 20px;
  color: $color-text-promo;
  overflow: hidden;

  &_bg {
    background: url("img/promo/bg.jpg") no-repeat center/cover;
  }

  &__wrap {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $color-primary-rgba;
    border-radius: 20px;

    @include screen-down(lg) {
      flex-wrap: wrap;

      .promo__img-wrap {
        width: 100%;
        display: flex;
        justify-content: flex-end;
      }
    }
  }

  &__img {
    display: block;
    position: relative;
    object-fit: contain;
    height: 40vh;
    border-radius: 20px;

    @include screen-up(md) {
      height: 60vh;
    }

    @include screen-up(lg) {
      height: 80vh;
    }
  }

  &__content {
    min-width: 300px;
    padding: 2.4rem 2.4rem 0 2.4rem;
  }

  &__title {
    margin: 0;
    padding: 0;
    text-align: left;
    font-weight: 600;
    font-size: 56px;
    line-height: 56px;

    @include screen-down(md) {
      font-size: 40px;
    }
  }

  &__subtitle {
    text-align: left;
    font-weight: 400;
    font-size: 24px;
  }

  &__text {
    margin: 0;
    padding-top: 24px;
    font-weight: 600;
    font-size: 24px;
    color: $color-text;
  }

  &__wrap-face-img {
    position: relative;
    height: 50px;
  }
}
